.baner{
    background-color: #E5E5E5;
    box-sizing: border-box;
}

.baner .container__img-perfil{
    width: 100%;
    padding-top: 20px;
    background-image: url(/assets/codigo-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img__perfil{
    border-radius: 50%;
    width: 40%;
    margin-left: 10px;
}

.presentacion{
    padding: 10px 10px;
}

.presentacion__nombre{
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #464646;
    margin-top: 10px;
    margin-bottom: 10px;
}

.presentacion__formacion{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin-bottom: 10px;
}

.container__redes{
    text-align: center;
}

.container__redes li{
    display: inline-block;
    margin-right: 15px;
}

.container__redes li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #464646;
}