.cabezera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 10px;
    background-color: #E5E5E5;
    border-bottom: 1px solid black;
}

.cabezera__nombre{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #464646;
}

.cabezera__email{
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    color: #464646;
    text-decoration: none;
}