.cabezera__nombre{
    font-size: 24px;
}

.cabezera__email{
    display: none;
}

.menu__header{
    display: flex;
}

.menu__header li{
    list-style: none;
    margin-right: 20px;
}

.menu__header li a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #464646;
    transition: 0.3s all;
}

.menu__header li a:hover{
    transform: scale(1.2);
    text-decoration: underline;
    font-size: 18px;
}


.presentacion__nombre{
    font-size: 52px;
    line-height: 61px;
}

.presentacion__formacion{
    font-size: 22px;
    line-height: 25px;
}

.container__redes{
    text-align: start;
}

.container__redes li{
    margin-right: 80px;
}

.container__redes li a{
    transition: 0.3s all;
}

.container__redes li a:hover{
    transform: scale(1.2);
    text-decoration: underline;
    font-size: 18px;
    text-decoration: underline red;
}

.sobreMi{
    padding: 64px 64px;
}

.contacto form{
    width: 50%;
}

.contacto form .button__enviar{
    cursor: pointer;
    transition: 1s all;
}

.contacto form .button__enviar:hover{
    transform: scale(1.2);
    background-color: #464646;
}

