.cabezera__nombre{
    font-size: 24px;
}

.cabezera__email{
    display: none;
}

.menu__header{
    display: flex;
}

.menu__header li{
    list-style: none;
    margin-right: 20px;
}

.menu__header li a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #464646;
}

.menu__header li a:hover{
    text-decoration: overline red;
}


.presentacion__nombre{
    font-size: 52px;
    line-height: 61px;
}

.presentacion__formacion{
    font-size: 22px;
    line-height: 25px;
}

.container__redes{
    text-align: start;
}

.container__redes li{
    margin-right: 80px;
}

.container__redes li a:hover{
    text-decoration: underline red;
}