.baner{
    background-color: #E5E5E5;
    padding: 10px 10px;
    box-sizing: border-box;
}

.baner .container__img-perfil{
    width: 100%;
    padding-top: 20px;
    background-color: #464646;
}

.img__perfil{
    border-radius: 50%;
    width: 40%;
}

.presentacion__nombre{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.5rem;
    color: #464646;
    margin-top: 10px;
    margin-bottom: 10px;
}

.presentacion__formacion{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #464646;
    margin-bottom: 10px;
}

.container__redes{
    text-align: center;
}

.container__redes li{
    display: inline-block;
    margin-right: 15px;
}

.container__redes li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #464646;
}

.sobreMi{
    background-color:#EAF2FD;
    padding: 10px 10px;
}

.sobreMi h2{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.5rem;
    color: #464646;
    margin-bottom: 10px;
}

.sobreMi p{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #464646;
}

.skills__hobies{
    background-color: #E5E5E5;
    padding-top: 15px;
}

.skills__hobies h2{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.5rem;
    text-align: center;
    color: #464646;
    margin-bottom: 10px;
}

.skills__hobies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills__hobies-container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 160px;
    min-height: 118px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 15px 15px;
}

.skills__hobies-container article p{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #464646;
}

.Hobies article img{
    width: 28px;
}