.menu__header{
    display: none;
}

.container__img-perfil{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.img__perfil {
    border-radius: 50%;
    width: 20%;
    margin-left: 10px
}

.presentacion__nombre{
    font-size: 25px;
}

.presentacion__formacion{
    font-size: 17px;
}

.container__redes li a{
    font-size: 16px;
}

.sobreMi{
    padding: 30px 30px;
}

.sobreMi h2{
    font-size: 25px;
}

.sobreMi p{
    font-size: 16px;
}

.skills__hobies-container{
    justify-content: space-around;
}

.skills__hobies h2{
    font-size: 25px;
}

.skills__hobies-container article{
    width: 25%;
}

.formacionAcademica .container__formaciones{
    display: flex;
    flex-direction: row;
}
