.container__img-perfil{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.img__perfil {
    border-radius: 50%;
    width: 20%;
    margin-left: 10px
}

.sobreMi{
    padding: 30px 30px;
}